.container {
  padding: 0 2rem;
  background-color: #131c2c;
}

.main {
  min-height: 100vh;
  padding: 1em 4em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 2em black);
}