.container {
    min-width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    .sweater_wrapper {
        padding-top: 5em;
        min-width: 100%;
        max-height: 30vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-image: url('../../public/background-new.png');
        background-size: cover;
        background-position: 0 35%;
    }

    #buttons {
        display: flex;
        flex-direction: row;
        gap: 10em;
        min-width: 100%;
        justify-content: center;
        align-items: center;
        background-color: #bde0f6;
        padding-top: 8em;

        button {
            background-color: transparent;
            color: white;
            text-shadow: .1em .05em .2em #121212;
            padding: 1em 2em;
            font-size: medium;
            border: .2em #4c576a solid;
        }

        #reset {
            transition: .3s all ease;

            &:hover {
            transition: .3s all ease;
            background-color: #c50000;
            }
        }

        #send {
            padding: 1em 2.6em;
            transition: .3s all ease;
            
            &:hover {
                transition: .3s all ease;
                background-color: #128e04;
            }
        }
    }

    .shelf_wrapper {
        display: flex;
        flex-direction: row;
        background-color: #bde0f6;

        .shelf {
            max-width: 25%;
        }
    }
}