.container {
    padding-top: 20em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    .image {
        display: flex;
        max-width: 40%;
        height: auto;
    }

    .shelf {
        max-width: 60%;
        height: auto;
    }

    #name {
        text-shadow: .05em .05em .2em #121212;
    }
}